.header-color{
  background: linear-gradient(0deg, rgba(1,53,92,1) 100%);
}

.landing-grid{
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8e9eab, #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8e9eab, #eef2f3);

  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*Projects Section*/
.projects-grid{
  display: flex;
  margin-top: 4.2em;
}

.card-style{
  width: 24em;
  margin: auto;
}

.card-text{
 height: 14em;
}

.card-btn{
  text-align: center;
}

.card-title{
  height: 11em;
}
.card-title h2{
  color: white; 
}

.card-one{
  background: url(https://cdn.pixabay.com/photo/2018/07/18/13/05/ecommerce-3546296_960_720.jpg) center / cover;
}

.card-two{
  background: url(https://cdn.pixabay.com/photo/2014/12/16/16/19/smartphone-570507_960_720.jpg) center / cover;
}

.card-three{
  background: url(https://cdn.pixabay.com/photo/2019/04/28/09/39/still-life-4162597_960_720.jpg) center / cover;
}

.btn-gogit{
  text-decoration: none;  
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
}

.short-description{
  display: none;
  font-size: 12px;
}

@media (max-width: 640px){

  .projects-grid{
    display: flex;
    flex-direction: column;
  }

  .card-style{
    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.4em;
  }

  .card-body{
    height: 11em;
    width: 70%;
  }

  .card-title{
    height: 11em;
    width: 10em;
  }

  .card-title h2{
    font-size: 16px;
  }
  
  .card-text{
    height: 4.2em;
    width: 70%;
    padding-top: 1px;
  }

  .card-btn{
    display: flex;
    justify-content: center;
    height: 3.2em;
  }

  .btn-gogit{
    color: white;
    padding: 8px 10px;
  }

}

/*  Resume page   */
.resume-right-col{
  background: #27221F;
  color: white;
  padding: 2em
}

/*  Resume page   */

/*  Contact page CSS  */
.contact-body{
  margin: auto;
  background: gray;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 75%;
  background: white;
  color: black;
  border: 2px solid red;
  margin-top: 20px;
}

.contact-grid h2{
  font-family: 'Roboto', sans-serif;
}

.contact-grid p{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.contact-list i{
  font-size: 64px;
  padding-right: 5rem;
}
/*  Contact page CSS  */

.avatar-img{
  height: 250px;
  padding-top: 5em;
}

.banner-text{
  background-color: black;
  font-weight: bold;
  color: white;
  opacity: 0.8;
  width: 75%;
  height: 42%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1{
  font-size: 3.4rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
.banner-text h3{
  font-size: 2.4rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
.banner-text h4{
  font-size: 1.8rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

/*Media queries format for Landing Page*/
@media (max-width: 640px) {
  .banner-text h1{
    padding-top: 0.4em;
    font-size: 3rem;
  }
  .banner-text h3{
    font-size: 1.7rem;
  }
  .banner-text h4{
    font-size: 1.15rem;
  }
}

.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p{
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links{
  display: flex;
  width: 50%;
  margin: auto;
}

.social-links div{
  margin: auto;
}

.social-links i{
  color: white;
  font-size: 5em;
  padding: 8px;
  margin-right: 0.2em;
  margin-left: 0.2em;
}

@media (max-width: 836px) {
  .social-links{
    display: flex;
    width: 100%;
    margin: auto;
  }
  .social-links div{
    display: flex;
  }
  .social-links i{
    font-size: 4.6em;
    margin-right: 0.1em;
    margin-left: 0.1em;
  }
}

.form-horizontal {
  float: left;
  max-width: 400px;
  font-weight: 400;
  margin: 100px 0 0 60px;
}

.form-group{
  float: right;
  padding-top: 30px;
  font-size: '50px';
  font-family: 'Roboto'
}

.contact-label{
  font-size: '26px';
  font-family: 'Roboto'
}

.form-control{
  width: 300px;
}

.message-label{
  margin-top: 4px;
}