.header-color{
  background: linear-gradient(0deg, rgba(1,53,92,1) 100%);
}

.landing-grid{
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8e9eab, #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8e9eab, #eef2f3);

  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*Projects Section*/
.projects-grid{
  display: flex;
  margin-top: 4.2em;
}

.card-style{
  width: 24em;
  margin: auto;
}

.card-text{
 height: 14em;
}

.card-btn{
  text-align: center;
}

.card-title{
  height: 11em;
}
.card-title h2{
  color: white; 
}

.card-one{
  background: url(https://cdn.pixabay.com/photo/2018/07/18/13/05/ecommerce-3546296_960_720.jpg) center / cover;
}

.card-two{
  background: url(https://cdn.pixabay.com/photo/2014/12/16/16/19/smartphone-570507_960_720.jpg) center / cover;
}

.card-three{
  background: url(https://cdn.pixabay.com/photo/2019/04/28/09/39/still-life-4162597_960_720.jpg) center / cover;
}

.btn-gogit{
  text-decoration: none;  
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
}

.short-description{
  display: none;
  font-size: 12px;
}

@media (max-width: 640px){

  .projects-grid{
    display: flex;
    flex-direction: column;
  }

  .card-style{
    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.4em;
  }

  .card-body{
    height: 11em;
    width: 70%;
  }

  .card-title{
    height: 11em;
    width: 10em;
  }

  .card-title h2{
    font-size: 16px;
  }
  
  .card-text{
    height: 4.2em;
    width: 100%;
    padding-top: 1px;
  }

  .card-btn{
    display: flex;
    justify-content: center;
    height: 3.9em;
  }

  .btn-gogit{
    color: white;
    padding: 8px 10px;
  }

}

/*  Resume page   */
.resume-right-col{
  background: #27221F;
  color: white;
  padding: 2em
}

/*  Resume page   */

/*  Contact page CSS  */
.contact-body{
  margin: auto;
  background: gray;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid{
  display: flex;
  width: 80%;
  height: 75%;
  background: white;
  color: black;
  border: 2px solid red;
  margin: 2em auto;
}

/*Contact form elements*/

.form-container{
  margin: auto;
}
.form-horizontal {
  float: left;
  max-width: 26em;
  font-weight: 400;
}

.form-group{
  float: right;
  padding-top: 2em;
  font-size: 1em;
  font-family: Roboto;
}

.contact-label{
  font-size: 26px;
  font-family: Roboto;
}

.form-control{
  width: 300px;
}

.message-label{
  margin-top: 4px;
}
/*Contact personal information*/
.personal-info{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
}

.contact-title{
  width: 100%;
}

.contact-title h2{
  text-align: center;
  font-size: 2.8rem;
}

.phone{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.phone i{
  font-size: 4vw;
  padding-right: 1rem;
}

.phone h3{
  margin-top: 0.5rem;
  font-size: 1.6rem;
}

.phone h4{
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.contact-grid h2{
  font-family: 'Roboto', sans-serif;
}

.contact-grid p{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

@media (max-width: 850px){
  .contact-grid{
    flex-direction: column-reverse;
    margin-top: 2em;
    height: 80%;
    width: 94%;
  }
  .form-container{
    margin-left: 0.7em;
  }

  .form-group{
    padding-top: 0.8em;
  }

  .personal-info{
    width: 90%;
  }
  .phone{
    margin-left: 1.5em;
  }
  .phone i{
    font-size: 4em;
  }
  .phone h4{
    margin-top: 0.7rem;
  }
}

/*  Landing page  */

.avatar-img{
  height: 250px;
  padding-top: 5em;
}

.banner-text{
  background-color: black;
  font-weight: bold;
  color: white;
  opacity: 0.8;
  width: 75%;
  height: 42%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1{
  font-size: 3.4rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
.banner-text h3{
  font-size: 2.4rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
.banner-text h4{
  font-size: 1.8rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

/*Media queries format for Landing Page*/
@media (max-width: 640px) {
  .banner-text h1{
    padding-top: 0.9em;
    font-size: 2.6rem;
  }
  .banner-text h3{
    font-size: 1.2rem;
  }
  .banner-text h4{
    font-size: 0.85rem;
  }
}

.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p{
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links{
  display: flex;
  width: 50%;
  margin: auto;
}

.social-links div{
  margin: auto;
}

.social-links i{
  color: white;
  font-size: 5em;
  padding: 8px;
  margin-right: 0.2em;
  margin-left: 0.2em;
}

@media (max-width: 836px) {
  .social-links{
    display: flex;
    width: 100%;
    margin: auto;
  }
  .social-links div{
    display: flex;
  }
  .social-links i{
    font-size: 4em;
    margin-right: 0.1em;
    margin-left: 0.1em;
  }
}

